/* variables */
:root{
  --mainColor1: #2c5e8f;
  --mainColor2: #4282C0;
  --mainColor3: #f6ea56;
  --fontColor1: black;
  --fontColor2: whitesmoke;
  --search: green;
  --filter1: rgb(212, 158, 158);
  --filter2: #90b1d3;
  --filter3: rgb(148, 202, 148);
  --darkColor1: rgb(17, 17, 17);
  --darkColor2: #79cc95;
}
/* darkMod */
.darkMode{
  background-color: var(--darkColor1);
  header{
    background-color: var(--darkColor1);
    border: 3px var(--darkColor2) solid;
    box-shadow: var(--fontColor2) 1px 0 10px;
    color: var(--darkColor2);
    div a{
      background-color: var(--darkColor2);
      box-shadow: var(--fontColor2) 1px 0 10px;
      color: var(--darkColor1);
      border: 1px var(--darkColor2) solid;
      &:hover{
        background-color: var(--darkColor1);
        color: var(--darkColor2);
      }
    }
    nav a{
      background-color: var(--darkColor1);
      color: var(--darkColor2);
      &:hover{
        color: var(--darkColor2);
        text-shadow:var(--fontColor2) 1px 0 10px;
      }
    }
  }
  main nav a{
    background-color: var(--darkColor2);
    box-shadow: var(--fontColor2) 1px 0 10px;
    color: var(--darkColor1);
    border: 1px var(--darkColor2) solid;
    &:hover{
      background-color: var(--darkColor1);
      color: var(--darkColor2);
    }
  }
  footer {
    background-color: var(--darkColor1);
    border: 3px var(--darkColor2) solid;
    box-shadow: var(--fontColor2) 1px 0 10px;
    nav a{
      background-color: var(--darkColor1);
      color: var(--darkColor2);
      &:hover{
        color: var(--darkColor2);
        text-shadow:var(--fontColor2) 1px 0 10px;
      }
    }
  }

/* contenu de page */
  main section article:first-child{
    background-color: var(--darkColor1);
    color: var(--darkColor2);
    border: 3px var(--darkColor2) solid;
    box-shadow: var(--fontColor2) 1px 0 10px;
    &:hover{
      text-shadow: var(--fontColor2) 1px 0 10px;
    }
  }
  main section article:nth-of-type(2) form button{
    background-color: var(--darkColor2);
    &:hover{
      box-shadow: var(--fontColor2) 1px 0 10px;
    }
  }
  main section article:nth-of-type(2) div:nth-of-type(1) h3{
    color: var(--darkColor2);
  }
  main section article:nth-of-type(2) div:nth-of-type(2){
    button{
      background-color: var(--darkColor2);
      box-shadow: var(--fontColor2) 1px 0 10px;
      &:hover{
        background-color: var(--darkColor1);
        border: 1px solid var(--darkColor2);
        color: var(--darkColor2);
      }
    }
    ul{
      background-color: var(--darkColor2);
    }
  }
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--mainColor2);
}

/* header */
header{
  background-color: var(--mainColor1);
  div{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    padding-right: 20px;
    padding-left: 20px;
    img:first-of-type{
      align-self: flex-start;
      margin-top: 10px;
    }
    img:nth-of-type(2){
      height: 200px;
      width: 200px;
    }
    a{
      color: var(--fontColor1);
      background-color: var(--mainColor3);
      border: 1px solid var(--fontColor1);
      border-radius: 35px;
      padding: 1px 20px 5px 20px;
      margin-right: 10px;
      font-size: 2em;
      font-family: Arial, Helvetica, sans-serif;
      text-decoration: none;
      text-align: center;
      align-self: center;
      box-shadow: 6px 6px 10px var(--fontColor1);
      &:hover{
        color: var(--fontColor1);
        transform: scale(1.1);
      }
    }
  }
  nav{
    a{
      text-decoration: none;
      margin-left: 10px;
      color: var(--fontColor2);
      &:hover{
        color: var(--fontColor1);
      }
    }
  }
}

  /* footer */
  footer{
    background-color: var(--mainColor1);
    nav{
      display: flex;
      justify-content: space-around;
      padding: 20px;
      a{
        color: var(--fontColor2);
        &:hover{
          color: var(--fontColor1);
          transform: scale(1.1);
        }
      }
    }
  }

  /* navigation */
main{ 
  padding-bottom: 12%;
  nav{
    padding-bottom: 8px;
    display: flex;
    justify-content: center;
    a{
      color: var(--fontColor1);
        background-color: var(--mainColor3);
        border: 1px solid var(--fontColor1);
        border-radius: 35px;
        padding: 1px 20px 5px 20px;
        margin-right: 10px;
        font-size: 2em;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        text-align: center;
        &:hover{
          color: var(--fontColor1);
          transform: scale(1.1);
        }
      }
  }
}

/* buttons */
article:nth-of-type(2) form{
  display: flex;
  button{
    background-color: var(--search);
    color: var(--fontColor2);
  }
}
article:nth-of-type(2) div button{
  color: var(--fontColor1);
    border-radius: 30px;
    box-shadow: 6px 6px 10px var(--fontColor1);
    margin-right: 10px;
    &:hover{
      color: var(--fontColor1);
      transform: scale(1.1);
    }
}
article:nth-of-type(2) div ul{
  background-color: var(--mainColor1);
}
article:nth-of-type(2) div:nth-of-type(2) div:first-of-type button{
  background-color: var(--filter1);
  margin-right: 10px;
}
article:nth-of-type(2) div:nth-of-type(2) div:nth-of-type(2) button{
  background-color: var(--filter2);
  margin-right: 10px;
}
article:nth-of-type(2) div:nth-of-type(2) div:last-of-type button{
  background-color: var(--filter3);
}

/* main content */
main section{
  article:nth-child(1){
    color: var(--fontColor2);
    background-color: var(--mainColor1);
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 2%;
    margin-top: 5%;
    padding: 20px;
    border-radius: 30px;
    text-align: center;
  }
  article:nth-child(2){
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    div:first-of-type h3{
      color: var(--fontColor2);
    }
  }
}

/* responsive */
@media only screen and (max-width: 800px){
  main{
    display: grid;
    grid-template-columns: 30% 80%;
    nav{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-left: -20px;
    }

  }
  article:nth-of-type(2) div{
    display: flex;
    flex-direction: column;
    margin-right: 25%;
  }
  article:nth-of-type(2) div:nth-of-type(2) div:first-of-type button{
    border-radius: 20px;
    margin-bottom: 5px;
    margin-right: 0px;
    padding: 5px;
  }
  article:nth-of-type(2) div:nth-of-type(2) div:nth-of-type(2) button{
    border-radius: 20px;
    margin-bottom: 5px;
    margin-right: 0px;
    padding: 5px;
  }
  main nav a{
    font-size: x-large;
    padding: 20px 10px 20px 10px;
    border-radius: 40px;
    margin-left: -20px;
  }
}
@media only screen and (max-width: 560px){
  body header img:nth-of-type(2){
    height: 100px;
    width: 100px;
  }
  main{
    grid-template-columns: 40% 60%;
    margin-bottom: 22%;
    nav{
      margin-left: -10px;
    }
  }
  main section article:nth-child(1){
    margin:0;
    padding: 0;
  }
  main section article:nth-child(1) {
    margin-right: 5%;
    margin-bottom: 2%;
    margin-top: 5%;
    padding: 10px;
  }
  main section article:nth-child(2){
    margin-left: 2%;
    margin-right: 2%;
  }
  article:nth-of-type(2) div{
    margin-right: 20%;
  }
  section article:first-of-type {
    font-size: small;
    h1{
      font-size: medium;
    }
  }
  header div a{
    font-size: small;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
  }
  main nav a{
    font-size: medium;
    padding: 20px 10px 20px 10px;
    border-radius: 40px;
    margin-left: -20px;
  }
}